.slick-arrow {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background-color: $accent-color;
    background-image: url(../img/right-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    text-indent: 50px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    &:hover {
        background-color: $primary-color;
        transition-duration: 0.5s;
    }
}
